<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome, {{ request.user.username }} 👋</h1>

    {% if request.user.is_authenticated %}
        <p>Siz tizimga kirgansiz.</p>
        <a href="{% url 'posts' %}">Postlarni ko‘rish</a> |
    {% else %}
        <p>Iltimos tizimga kiring yoki ro‘yxatdan o‘ting.</p>
        <a href="{% url 'login' %}">Kirish</a> |
        <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a>
    {% endif %}
</body>
</html>
